{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Visa-Slot-Booking</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Additional CSS Files --> 
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->

<!-- <script type = "text/javascript" >
  function preventBack() { window.history.forward(); }
  setTimeout("preventBack()", 0);
  window.onunload = function () { null };
  </script> -->
  </head>

<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                      VISA-VIVA
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-sect"><a href="{% url 'index'%}" class="active">Home</a></li>
                      <li><a href="{% url 'sup_login'%}">Supervisor</a></li>
                      <li class="scroll-to-se"><a href="{% url 'stu_login'%}">User</a></li>
                      <li><a href="{% url 'help_support'%}">HELP SUPPORT</a></li>
                      <li><a href="{% url 'covid_guidelines'%}">Covid Guideline</a></li>
                      <li class="" ><a href="index.html#contact">Contact Us</a></li> 
                   </ul>      
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
              </div>
          </div>
      </div>
  </header>
  <section class="contact-us" id="contact">
    <div class="container mt-5" >
      <div class="row">
        <center>

        <div class="col-lg-8 align-self-center" >
          <div class="row">
            <div class="col-lg-12" >
              <form id="contact" action="" method="post" class="backgroundimg">
                {% csrf_token %}
                {% if messages %}              
                {% for message in messages %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <script>swal({
                        title: "Error :(",
                        text: "Invalid Login",
                        icon: "error",
                        button: "OK",
                      });
                    </script>
                  {% endif %}              
                {% endfor %} 
              {% endif %}
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Supervisor Login</h2>
                  </div>
                <center>  <div class="col-lg-6">
                    <fieldset>
                    <input name="email" type="text" id="email"  placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                </center>
                <center>   <div class="col-lg-6">
                    <fieldset>
                      <input name="password" type="text" class="message" id="message" placeholder="PASSWORD..." required="">
                      
                    </fieldset>
                  </div>
                </center> 
                  <div class="col-lg-12">
                    <center> 
                      <button  type="submit"  id="form-submit"  class="button"> <a role="button">Login</a></button>
                   </center>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </center>

    <div class="footer">
      <p>Copyright © Codebook. All Rights Reserved. 
          <br>Design: <a href="https://codebook.in" target="_parent" title="free css templates">Codebook</a></p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/tabs.js' %}"></script>
    <script src="{% static 'assets/js/video.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>